<template>
  <v-snackbar
    v-model="snackbar"
  >
    {{ text }}
  </v-snackbar>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  data: () => ({
    text: 'Successfully updated!'
  }),
  computed: {
    /*
    ...mapGetters({
      snackbar: 'ui/snackbar'
    })
    */
    snackbar: {
      get () {
        const x = this.$store.state.ui.snackbar
        return x
      },
      set (newValue) {
        console.log(newValue)
      }
    }
  }
}
</script>
