::v-deep 
.theme--light {
	.v-btn {
		height: 32px;
		min-width: 92px;
		font-size: 14px;
		line-height: 1.75;
		border-radius: 4px;
		box-shadow: none;
		padding: 0 16px 0 16px;
		text-transform: capitalize;

		.v-ripple__container {
				display: none;
		}
    
    &.primary {
			border: none;
			background-color: #d1f7e9;
			color: #ffffff;

			&:disabled {
					background-color: #cccccc;
					color: #888888;
			}

			&:hover:not([disabled]) {
					background-color: #338c6b;
			}

			&:focus {
					outline: 0;
					background-color: #005938;
			}
	}
	&--outlined, &.secondary {
			border: 1px solid #006f46!important;
			background-color: #ffffff;
			color: #006f46;
			opacity: 1;

			&:disabled {
			border: solid 1px #cccccc;
			color: #888888;
			}

			&:hover:not([disabled]) {
			background-color: #cce3da;
			}
			
			&:focus {
			outline: 0;
			}
	}
	&.tertiary {
			border: none;
			background-color: #cc1f1f!important;
			color: #ffffff;

			&:disabled {
				background-color: #e17979;
			}

			&:hover:not([disabled]) {
				background-color: #d74c4c;
			}

			&:focus {
				outline: 0;
				background-color: #a31818;
			}
	}
	&.contained {
			min-width: 99px;
			height: 32px;
			background-color: #cee9e1;
			border: none;
			color: #006f46!important;

			.v-btn__content {
					color: #006f46!important;
			}

			&:disabled {
				background-color: #cccccc;
				color: #888888;
			}

			&:disabled svg {
				color: #888888;
			}

			&:hover:not([disabled]) {
				background-color: #bad2cb;
				color: #006f46;
			}

			&:hover:not([disabled]) svg {
				color: #006f46;
			}

			&:focus {
				outline: 0;
				background-color: #006f46!important;
				color: #ffffff!important;
			}

			&:focus svg {
				outline: 0;
				color: #ffffff!important;
			}

			svg {
				color: #006f46;
				width: 16px;
				height: 16px;
				padding: 0 8px 0 0;
				margin: 0;
			}
		}
	}
}