<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
          active-class="active"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      color="primary"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-spacer />
      <Logo />
    </v-app-bar>
    <v-content>
      <v-container fluid>
        <nuxt />
      </v-container>
      <ops-snackbar />
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import Logo from '~/components/Logo.vue'
import SnackBar from '~/components/SnackBar'
export default {
  components: {
    Logo,
    'ops-snackbar': SnackBar
  },
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-account_box',
          title: 'Tasks',
          to: '/tasks'
        },
        {
          icon: 'mdi-airplane',
          title: 'Carriers',
          to: '/carriers'
        }
      ],
      miniVariant: false
    }
  },
  created () {
    // this.$store.dispatch('auth/tryAutoSignIn')
    this.path = JSON.stringify(this.$route.path)
    this.show = this.path.includes('dash') || false
  }
}
</script>

<style lang="scss" scoped>
.v-list-item {
  &--active {

  }
}
</style>
