<template>
  <v-data-table
    :headers="headers"
    :items="carriers"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Carriers</v-toolbar-title>
        <v-spacer />
        <!-- eslint-disable -->
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              color="secondary"
              class="mb-2 mr-2"
              v-on="on"
            >
            <v-icon
                small
                class="mr-2"
              >
                mdi-filter
              </v-icon>
              Add Filter
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(header, index) in headers"
              :key="index"
              @click=""
            >
              <v-list-item-title>{{ header.text }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-dialog v-model="dialog" max-width="640px">
          <template v-slot:activator="{ on }">
            <v-btn color="secondary" class="mb-2" v-on="on">
              <v-icon
                small
                class="mr-2"
              >
                mdi-plus
              </v-icon>
              Create
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.name" label="Name" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.business_name" label="Business name" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.email" label="Email" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.phone" label="Phone" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_street" label="Billing street" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_street_complement" label="Billing street complement" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_city" label="Billing city" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_zipcode" label="Billing zip" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_state" label="Billing state" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.billing_country" label="Billing country" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.latitude" label="Latitude" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.longitude" label="Longitude" />
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.protein" label="Website" />
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-container>
                <v-flex>
              <v-btn color="primary" class="mr-4" @click="save">
                Save
              </v-btn>
              <v-btn color="secondary" @click="close">
                Cancel
              </v-btn>
                </v-flex>
              </v-container>
            </v-card-actions>

          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.created_at="{ item }">
        <span>{{new Date(item.created_at).toLocaleString()}}</span>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  components: {
  },
  data () {
    return {
      dialog: false,
      headers: [
        {
          text: 'NAME',
          align: 'start',
          sortable: false,
          value: 'name'
        },
        { text: 'BUSINESS NAME', value: 'business_name' },
        { text: 'SLUG', value: 'slug' },
        { text: 'EMAIL', value: 'email' },
        { text: 'ACTIVE', value: 'active' },
        { text: 'BILLING CITY', value: 'billing_city' },
        { text: 'CREATED AT', value: 'created_at' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      editedIndex: -1,
      editedItem: {},
      defaultItem: {}
    }
  },
  computed: {
    ...mapState({
      carriers: state => state.carriers.carriers
    }),
    formTitle () {
      return this.editedIndex === -1 ? 'Add new Carrier' : 'Edit Carrier'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  async created () {
    await this.fetch()
  },

  methods: {
    ...mapActions({
      create: 'carriers/create',
      fetch: 'carriers/fetch',
      update: 'carriers/update'
      // delete: 'carriers/delete'
    }),
    editItem (item) {
      this.editedIndex = this.carriers.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      // const index = this.carriers.indexOf(item)
      // console.log(item.key)
      // confirm('Are you sure you want to delete this item?') && this.delete(item)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        this.update(this.editedItem)
      } else {
        this.create(this.editedItem)
      }
      this.close()
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
