<template>
  <v-row
    align="center"
    justify="center"
  >
    <v-col
      cols="12"
      sm="8"
      md="4"
    >
      <v-card class="elevation-12">
        <v-toolbar
          color="primary"
          flat
        >
          <v-toolbar-title>
            Login
          </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              v-model="credentials.username"
              label="Login"
              name="login"
              prepend-icon="mdi-account-box"
              type="text"
            />

            <v-text-field
              v-model="credentials.password"
              label="Password"
              name="password"
              prepend-icon="mdi-lock"
              type="password"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" @click="login(credentials)">
            Login
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      credentials: {
        username: null,
        password: null
      }
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/signIn'
    })
  }
}
</script>
