<template>
  <div>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="tasks"
      :single-select="true"
      item-key="name"
      show-select
      class="elevation-1"
    >
      <template v-slot:top>
      <!-- some space for component -->
      </template>
      <template v-slot:item.state="{ item }">
        <!--
        <v-btn
          color="secondary"
          @click="editItem(item)"
        >
          {{ item.state }}
        </v-btn>
        -->
        <a>{{ item.state }}</a>
      </template>
      <template v-slot:item.recipient.requested_at="{ item }">
        <span>{{ new Date(item.created_at).toLocaleString() }}</span>
      </template>
      <template v-slot:item.add_eta="{ item }">
        <v-icon
          small
          @click="editItem(item)"
        >
          mdi-plus
        </v-icon>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-menu-open
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      singleSelect: false,
      selected: [],
      headers: [
        {
          text: 'Shipper',
          align: 'start',
          sortable: false,
          value: 'owned_by.organization.name'
        },
        { text: 'State', value: 'state' },
        { text: 'Recipient', value: 'recipient.name' },
        { text: 'Recipient ID', value: 'recipient.recipient_id' },
        { text: 'Address', value: 'recipient.street' },
        { text: 'City', value: 'recipient.city' },
        { text: 'Requested', value: 'recipient.requested_at' },
        { text: 'Tour', value: 'tour.name' },
        { text: 'ETA', value: 'add_eta', align: 'start' },
        { text: 'Actions', value: 'actions' }
      ]
    }
  },
  computed: {
    ...mapState({
      tasks: state => state.tasks.tasks
    })
  },
  async created () {
    await this.fetch()
  },

  methods: {
    ...mapActions({
      fetch: 'tasks/fetch'
    })
  }
}
</script>
